*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: monstserrat;
}
nav{
    height: 80px;
    width: 100%;
    background: rgb(255,212,0);
    position: fixed;
}
label.logo{
    font-size: 35px;
    font-weight: bold;
    color: white;
    padding: 0 100px;
    line-height: 80px;

}
nav ul{
   float: right; 
   margin-right: 40px;
}
nav li{
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
 
}
nav a{
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
    text-decoration: none;
    
}
a.active,a:hover{
    border: 1px solid white;
    transition: .5s;
}
nav #icon{
    color: white;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
}

@media (max-width: 1000px) {
  label.logo  {
    font-size: 32px;
    padding-left: 60px;
  }
  nav{
    position: fixed;
    width: 100%;
    height: 100vh;
  }
  nav ul{
    margin-right: 20px;
     }
     nav a{
        font-size: 17px;
     }

  }
  @media (max-width: 900px){
nav #icon{
    display: block;
}
nav ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: white;
    top: 80px;
    left: 0;
    text-align: center;
    transition: all .5s;
}
nav li{
   display: block; 
   margin: 50px 0;
   line-height: 30px;
   
}
nav a{
    font-size: 20px;
    color: black;
}
a.active,a:hover{
    border: none;
    color: white;
}
nav ul.show{
    left: 0;
}

  }

  section{
    background:
    background-size: cover;
    height: calc(100vh-80px);
  }

  .p{
    /*color: #3498db;*/
    color: white;
    font-size: 40px;
   
  }
  .img-aprenant{
margin: 30px;
  }
 .section1{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
   background: rgb(53,171,226); 
    
 }
.p{
    padding-top: 70px;
}
.titre1{
    text-align: center;
   color: rgb(123, 120, 120);
}
.text1{
    text-align: center;
    font-size: 30px;
    color: rgb(221, 207, 63);
}

.footer{
    background-color: rgb(255,212,0);
}
.jj{
    display: flex;
    justify-content: center;
}
/* ---------------------------expertise--------------------------------------- */

/* .formateur{
    display: flex;
    justify-content: space-evenly;
} */
.carousel-inner .carousel-item img {
    width: 600px;
    height: 530px;
}
/* .prof-text{
    background-color: orange; 
} */

.card1{
background-color: orange;
}
.card2{
    background-color: rgb(109, 250, 109);
    box-shadow: 15px 15px 15px rgb(238, 235, 235);

}
.card2 img{
    width: 300px;
}
.card-group{
    justify-content: center;
}
.card3 img{
    width: 300px;
    box-shadow: 15px 15px 15px rgb(238, 235, 235);

}
.card2-text{
text-align: center;
}
.rea img{
    width: 100%;
    height: 100%;
    }
    .rea1 img{
width: 300px;
height: 200px;
    }
.rea1{
    display: flex;
    justify-content: space-around;
   
}
.reatext{
    background-color: rgb(125,186,54);
}
.reatext1{
    font-size: 20px;
}
.zida{
margin: 50px;
}
.reap{
    color: white;
}
.ville{
    display: flex;
    justify-content: space-around;
    
}
.navimage{
    background-image: url(exp2.jpg);
    background-size: cover;
background-position: center;
height: calc(100vh - 50px);
}
.titre1{
    margin-top: 100px;
    color:black;
    margin: 40px;
    font-size: 35px;

  }
  .valid{
    margin-top: 210px;
    margin-left: 100px;
    background: white; 
    margin-right: 30%;
    padding-left: 0px;
    
  }
.apprenant{
display: flex;
justify-content: space-around;
    }
    .img1{
        z-index: 1;
        position: relative;
        margin-left: 100px;
       
     }
     .img2{
        z-index: 1;
        position: relative;
        margin-left: -5%;
        margin-top: 4%;
       
     }
     .img3{
        z-index: 1;
        position: relative;
        margin-left: 120px;
        margin-top: 1%;
     }
     .img4{
        z-index: 1;
        position: relative;
        margin-left: -5%;
        margin-top: 1%;
     }
    .apprenantext{
        margin-right: 20%;
    }
    .bouton{
        background-color: rgb(255,212,0);
        border: 0;
        border-radius: 5px;
        width: 35%;
    }
.cohorte1{
    color: rgb(99,43,134);
    text-align: center;
    
}
.étudiant{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(53,171,226);
    
}
.étudiant img:hover{
transform:scale(3s);
box-shadow:0 0 10px;
}
.profil{
    text-align: center;
    color:rgb(255,212,0) ;
}